PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=ditado
DATABASE_PASSWORD=ditado
DATABASE_NAME=ditado

JWT_SECRET=change-me-in-local-env
JWT_EXPIRES_IN=5m

GROQ_API_KEY=
GROQ_TRANSCRIPTION_MODEL=whisper-large-v3-turbo

AUDIO_STORAGE_PATH=./storage/audio
MAX_AUDIO_SIZE_MB=25
